
body {
    background: hsl(180, 15%, 15%);
}

svg {
    display: block;
    margin: 1em auto;
}

.field-ring {
    stroke: hsla(180, 50%, 100%, 0.333);
    stroke-width: 2px;
    fill: hsla(180, 15%, 85%, 0.1);
}

.player {
    stroke: hsla(180, 50%, 10%, 0.5);
    stroke-width: 2px;
    fill: hsla(180, 100%, 80%, 0.667);
}
.player line {
    stroke: hsla(60, 100%, 66%, 0.5);
}
