
body {
    background: hsl(180, 15%, 15%);
    color: hsl(180, 15%, 85%);
    font-family: monospace;
}

.nojs {
    text-align: center;
}

.control {
    font-size: 0.8em;
}

#p0control {
    float: left;
    color: hsla(160, 100%, 80%, 0.667);
}
#p1control {
    float: right;
    color: hsla(240, 100%, 80%, 0.667);;
}

.control h2 {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    font-family: monospace;
    display: none;
}

input {
    padding: 0 0.3em;
    border: 0;
    background: hsl(180, 15%, 10%);
    color: inherit;
    font-size: 1em;
    font-family: inherit;
}
input:focus {
    outline: 0;
    background: hsl(180, 15%, 20%);
}

svg {
    display: block;
    margin: 1em auto;
}

.field-ring {
    stroke: hsla(180, 30%, 40%, 0.2);
    stroke-width: 2px;
    fill: hsla(180, 15%, 32%, 0.1);

    stroke: hsla(180, 15%, 10%, 1);
    stroke-width: 0;
    fill: hsla(180, 15%, 10%, 1);
}

.player {
    stroke: hsla(180, 50%, 10%, 0.5);
    stroke-width: 2px;
}
.player:nth-child(0) circle { fill: hsla(0, 100%, 80%, 0.667); }
.player:nth-child(1) circle { fill: hsla(80, 100%, 80%, 0.667); }
.player:nth-child(2) circle { fill: hsla(160, 100%, 80%, 0.667); }
.player:nth-child(3) circle { fill: hsla(240, 100%, 80%, 0.667); }
.player:nth-child(4) circle { fill: hsla(320, 100%, 80%, 0.667); }
.player line {
    stroke: hsla(60, 100%, 66%, 0.5);
}
